mixin products(title, listProduct, rating, status)
    case status
        when "big"
            .product-big
                .product__title
                    h2= title
                .product__list--big
                    each item in listProduct
                        .item-big.product-item
                            .item__img
                                a(href="#")
                                    img(src= item.img, alt= item.name)
                                .overlay
                                    .overlay-item
                                        a(href="").overlay-item__buys= buyButton
                                        a(href="").overlay-item__search
                                            i.fas.fa-search
                            .item-status
                                if item.status
                                    .status-new= item.status
                                if item.percent 
                                    .status-percent= item.percent 
                            .item__detail
                                .item-name= item.name
                                .item-rating 
                                    each item in rating
                                        i(class= item)
                                .item-price
                                    span.item-price__discount= item.discount
                                    span.item-price__internal= item.internal
        when "small"
            .product-small
                .product__title
                    h2= title
                    .product__icon.d-md-none.d-lg-none
                        a(href="")  
                            i.fas.fa-chevron-left
                        a(href="") 
                            i.fas.fa-chevron-right
                ul.product__list--small
                    each item in listProduct
                        li.item-small.product-item.card
                            .row.no-gutters
                                .col-5
                                    .item-small__img
                                        a(href="#")
                                            img(src= item.img, alt= item.name)
                                .col-7
                                    .item__detail
                                        .item-name= item.name
                                        .item-rating 
                                            each item in rating
                                                i(class= item)
                                        .item-price
                                            span.item-price__discount= item.discount
        default
            .product-normal
                .product__title 
                    h2= title   
                    .product__icon 
                        a(href="")  
                            i.fas.fa-chevron-left
                        a(href="") 
                            i.fas.fa-chevron-right
                .product__list--normal
                    each item in listProduct
                        .item-normal.product-item
                            .item__img
                                a(href="#")
                                    img(src= item.img, alt= item.name)
                                .overlay
                                    .overlay-item
                                        a(href="").overlay-item__buys= buyButton
                                        a(href="").overlay-item__search
                                            i.fas.fa-search
                            .item-status
                                if item.status
                                    .status-new= item.status
                                if item.percent
                                    .status-percent= item.percent 
                            .item__detail
                                .item-name= item.name
                                .item-rating 
                                    each item in rating
                                        i(class= item)
                                .item-price
                                    span.item-price__discount= item.discount
                                    span.item-price__internal= item.internal

mixin news(title, news, btn)
    .row
        .col-12
            .product__title
                h2= title
    .row
        each item in news
            .col-12.col-sm-12.col-md-4.col-lg-4
                .card.news
                    img.card-img.news-img(src= item.img, alt= item.title)
                    .card-body.news-content
                        p.news-content__date= item.date
                        h5.news-content__title.card-title= item.title
                        p.news-content__desc.card-text= item.desc
                        a.news-content__btn(href="#")= btn
